<!doctype HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title> League of Jokes </title>
    <link rel = "stylesheet" type = "text/css"  href= "css/style.css">
  </head>

  <body>
    <h1> League of Jokes </h1>
    <br>
<<<<<<< HEAD
    <br>
    <img src="http://images.all-free-download.com/images/graphiclarge/laughing_and_pointing_emoticon_312207.jpg" alt="funny jokes" height="400" width="550">
    <br>
=======
    <img src="http://images.all-free-download.com/images/graphiclarge/laughing_and_pointing_emoticon_312207.jpg" alt="funny jokes" height="400" width="550">
    <br>
>>>>>>> 6f608697984a30e71cc20c7fa5edc80fe718a90f
    <h2> What kind of joke would you like? </h2>
    <form method = "POST">

    <select name="jokes">
      <option value="Gaming">Gaming</option>
      <option value="Political">Political</option>
      <option value="Kids">Kids</option>
      <option value="Random">Random</option>
    </select>

<<<<<<< HEAD
    <input type="button" onclick="alert('HAHA!')" value="Get a laugh!!!">
=======
    <input type="button" onclick="alert('Yo mama so ugly when Santa came down the chimney he said ho! ho! hoooollly shit!')" value="Get a laugh!!!">
>>>>>>> 6f608697984a30e71cc20c7fa5edc80fe718a90f

    </form>
  </body>
</html>
