<!doctype HTML>
<html>
  <head> <title> LOLs </title> <link rel = "stylesheet" type = "text/css"  href= "css/style.css"></head>
  <body>
    <h1> League of Jokes</h1>
    <h2> <%=@joke%> </h2>

  <img src="https://33.media.tumblr.com/bc9c5ac820cdf85daedf11ab9fa15b7c/tumblr_mrupi6Rd1x1r0pb0wo1_500.gif" alt="funny jokes" height="300" width="550">
  </body>
  </html>